
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Macondo", serif;
  font-size: 1.5rem;
  background-color: #000000;
  color: #bdae82;
}

.container {
  display: grid;
  width: 60vw;
  margin: 5vh auto;
  grid-template-areas: 
    "images images"
    "texts buttons";
}

input {
  display: none;
}

.images {
  /* margin-top: 5vh; */
  grid-area: images;
}

img {
  width: 100%;
}

.image {
  display: none;
}

.image.active { 
  display: block;
  padding: 0;
  margin: 0;
  border-radius: 1rem;
}

.img-wrapper {
  width: 60vw;
  overflow: hidden;
}

.texts {
  grid-area: texts;
}

.text {
  display: none;
}

.text.active {
display: block;
}

.buttons {
  grid-area: buttons;
}