
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Macondo", serif;
  font-size: 1.5rem;
  background-color: #000000;
  color: #bdae82;
}

.container {
  display: grid;
  width: 60vw;
  margin: 5vh auto;
  grid-template-areas: 
    "images images"
    "texts buttons";
}

input {
  display: none;
}

.images {
  grid-area: images;
}

img {
  width: 100%;
}

.image {
  display: none;
}

.image.active { 
  display: block;
  padding: 0;
  margin: 0;
  border-radius: 1rem;
}

.img-wrapper {
  width: 60vw;
  overflow: hidden;
}

.texts {
  grid-area: texts;
}

.text {
  display: none;
}

.text.active {
display: block;
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 0.3rem;
  grid-area: buttons;
}

.button {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 0.1rem solid #bdae82;
  background-color: #bdae82;
  transition: 0.5s;
}

.label {
  padding: 0.4rem;
  cursor: pointer;
}

.label:hover .button {
  background-color: #ffffff;
  border: 0.1rem solid #ffffff;
}

.label:active .button {
  background-color: rgba(190, 175, 138, 0.253);
  border: 0.1rem solid rgba(190, 175, 138, 0.253);
}

#r1:checked~.buttons>.label1>.button {
  background-color: transparent;
}
#r2:checked~.buttons>.label2>.button {
  background-color: transparent;
}
#r3:checked~.buttons>.label3>.button {
  background-color: transparent;
}
#r4:checked~.buttons>.label4>.button {
  background-color: transparent;
}
